<a href="https://colab.research.google.com/github/zlsh31023/20240829/blob/main/20240830%E7%AD%86%E8%A8%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20240830 筆記

## 複習基本資料型態及容器型別

* int, float, bool, str
* list, tuple, dict, set

### 字串加法及乘法

In [1]:
'abc' + '123'

'abc123'

In [2]:
'abc' * 3

'abcabcabc'

In [4]:
'abc' + 123

TypeError: can only concatenate str (not "int") to str

In [6]:
'abc' + str(123)

'abc123'

In [3]:
'abc' * 3.0

TypeError: can't multiply sequence by non-int of type 'float'

### 綜合練習

請用 for 迴圈畫出底下金字塔

        *
       ***
      *****
     *******
    *********

In [7]:
for i in range(5):
  print(i)

0
1
2
3
4

In [8]:
for i in range(5):
  print('*'*(2*i+1))

*
***
*****
*******
*********

In [9]:
for i in range(5):
  print(' '*(4-i) + '*'*(2*i+1))

    *
   ***
  *****
 *******
*********

### 綜合練習02

將上面程式碼打包成一個函式，輸入整數為 n，畫出高度為 n 的金字塔

In [14]:
def pyramid(n):
  for i in range(n):
    print(' '*(n-1-i) + '*'*(2*i+1))

In [13]:
pyramid(6)

      *
     ***
    *****
   *******
  *********
 ***********

## zerojudge.tw 使用簡介

* 如何讀取資料? => input()
* 如何印出結果? => print()

In [15]:
input?

In [16]:
x = input('請輸入整數:')

請輸入整數:10

In [17]:
x

'10'

In [18]:
int(x)

10

In [19]:
x + 1

TypeError: can only concatenate str (not "int") to str

In [20]:
print?

In [21]:
print(1, 2, 3, 4, 5)

1 2 3 4 5

In [22]:
print(1, 2, 3, 4, 5, sep = '-')

1-2-3-4-5

In [23]:
print(1, 2, 3)
print(4, 5, 6)

1 2 3
4 5 6

In [24]:
print(1, 2, 3, end = ' ')
print(4, 5, 6)

1 2 3 4 5 6

In [25]:
print(1, 2, 3, end = '*&^')
print(4, 5, 6)

1 2 3*&^4 5 6

## 字串的格式化

* python2
* python3
* f-string

In [26]:
# python2 字串格式化方式
m = 1
n = 3.14159
print('m = %d, n = %f' % (m, n))

m = 1, n = 3.141590

In [27]:
# python3 字串格式化方式
print('m = {}, n = {}'.format(m, n))

m = 1, n = 3.14159

In [28]:
# f-string 字串格式化方式
print(f'm = {m}, n = {n}')

m = 1, n = 3.14159

## python 基礎語法

* 條件式 => if statements
* 迴圈 => loops
* 函式 => functions
* 例外處理 => exception handling

### 條件式

In [30]:
m = 3
n = 2

In [31]:
if m > n:
  print('m is greater than n')

m is greater than n

In [32]:
if m > n:
  print('m is greater than n')
else:
  print('m is not greater than n')

m is greater than n

In [33]:
if m > n:
  print('m is greater than n')
elif m == n:
  print('m is equal to n')
else:
  print('m is less than n')

m is greater than n

### 迴圈 (loops)

* for
* while

#### for loop

In [35]:
for i in range(3):
  print(i)

0
1
2

In [36]:
for i in range(3):
  print("程式區塊開始")
  print(i)
  print("程式區塊結束")

程式區塊開始
0
程式區塊結束
程式區塊開始
1
程式區塊結束
程式區塊開始
2
程式區塊結束

In [37]:
for i in range(3):
  print("程式區塊開始")
  print(i)
print("程式區塊結束")

程式區塊開始
0
程式區塊開始
1
程式區塊開始
2
程式區塊結束

In [38]:
x = ['aaa', 'bbb', 'ccc']

In [40]:
for i in x:
  print(i)

aaa
bbb
ccc

In [41]:
d = {}
d['a'] = 1
d['b'] = 2
d['c'] = 3

In [42]:
d

{'a': 1, 'b': 2, 'c': 3}

In [43]:
for i in d:
  print(i)

a
b
c

In [47]:
# a => 1
# b => 2
# c => 3
for i in d:
  print(i, '=>', d[i])

a => 1
b => 2
c => 3

In [48]:
'a' in d

True

In [53]:
if 'a' in d:
  print(f'a is in d, its value is {d["a"]}')

a is in d, its value is 1

#### 關於字串的引號 ' v.s. "

In [54]:
s1 = 'my dog'

In [55]:
s2 = "my dog"

In [56]:
s3 = "my dog's name is Bob"

In [57]:
s4 = 'my dog\'s name is Bob'

#### while loop

In [58]:
for i in range(5):
  print(i)

0
1
2
3
4

In [60]:
i = 0
while i < 5:
  print(i)
  i += 1    # i = i + 1

0
1
2
3
4

In [ ]:
# while True: 無限迴圈

In [63]:
c = 0
while True:
  print("Hello World!")
  c = c + 1
  if c >= 5:
    break

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [64]:
i = 0
while i < 5:
  if i == 2:
    i += 1
    continue
  print(i)
  i = i + 1

0
1
3
4

In [65]:
for i in range(5):
  if i == 2:
    continue
  print(i)

0
1
3
4

### 函式

In [66]:
def square01(x):
  print(x**2)

def square02(x):
  return x**2

In [67]:
square01(2)

4

In [68]:
square02(2)

4

In [69]:
x1 = square01(2)

4

In [70]:
x2 = square02(2)

In [71]:
x1

In [72]:
x2

4

### 例外處理 (Exception Handling)

'''python

try:

  程式區塊01

except Exception as e:

  程式區塊02

In [73]:
def add(a, b):
  print(f"{a} + {b} = {a+b}")

def sub(a, b):
  print(f"{a} - {b} = {a-b}")

def mul(a, b):
  print(f"{a} x {b} = {a*b}")

def div(a, b):
  print(f"{a} / {b} = {a/b}")

In [75]:
fns = [add, sub, div, mul]

In [77]:
for i in fns:
  i(4, 2)

4 + 2 = 6
4 - 2 = 2
4 / 2 = 2.0
4 x 2 = 8

In [78]:
for i in fns:
  i(4, 0)

4 + 0 = 4
4 - 0 = 4

ZeroDivisionError: division by zero

In [79]:
for i in fns:
  try:
    i(4, 0)
  except Exception as e:
    print(e)

4 + 0 = 4
4 - 0 = 4
division by zero
4 x 0 = 0

In [74]:
add(1,2)
sub(1,2)
mul(1,2)
div(1,2)

1 + 2 = 3
1 - 2 = -1
1 x 2 = 2
1 / 2 = 0.5